body {
  margin: 0;
  background-color: #343541;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  /* height: 100vh;
  overflow: hidden; */
}

/* 전체 래퍼 */
.full-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* 헤더 */
.main-header {
  position: sticky;
  top: 0;
  z-index: 1000;


  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #202123;
  color: #fff;
  padding: 14px 20px;
  border-bottom: 1px solid #2f3036;
}

.application-btn {
  background: #0d6efd;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.main-title{
  font-size: larger;
}
